nodejs_server/passphrase.txt
nodejs_server/currency-fetching-service/currencyApiKey.txt
nodejs_server/currency-fetching-service/cryptoApiKey.txt
nodejs_server/real-time-stocks-fetching-service/stockApiKey.txt
nodejs_server/historical-stocks-fetching-service/historicalStockApiKeyAlpha.txt
nodejs_server/historical-stocks-fetching-service/historicalStockApiKeyTwelveData.txt
nodejs_server/historical-stocks-fetching-service/historicalStockFetchingOld.js
nodejs_server/currency-fetching-service/test.js
nodejs_server/testing.js
nodejs_server/node_modules/

Chakra-UI-Vite-Template-ChainTrust/
StockEx-Chakra-UI-Vite/node_modules/
horizon-ui-chakra-ts-feature-react-table-v8/
# TestingContracts/